.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  padding: 20px;
  margin: 0px
}

#heading {
  color: purple;
}

#card-collection {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dateTime, button {
  background-color: transparent;
  color: white;
  border-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

button {
  min-width: 12vw;
  font-size: large;
}

@media only screen and (max-width: 720px) {
  #card-collection {
    flex-direction: column;
  }
}
